                    html {
                        -ms-text-size-adjust: 100%;
                        -webkit-text-size-adjust: 100%
                    }
                    
                    body {
                        margin: 0;
                        background: rgb(245, 245, 245);
                    }
                    
                    html {
                        box-sizing: border-box;
                        overflow-x: hidden
                    }
                    
                    * {
                        scroll-behavior: smooth;
                    }
                    
                    *,
                    *:before,
                    *:after {
                        box-sizing: inherit
                    }
                    
                    html,
                    body {
                        font-weight: 500;
                        font-family: 'Open Sans', sans-serif;
                    }
                    
                    a {
                        color: inherit;
                        /* blue colors for links too */
                        text-decoration: inherit;
                        /* no underline */
                    }
                    
                    a:hover {
                        color: inherit;
                        text-decoration: none;
                    }
                    
                    hr {
                        margin: 0;
                        padding: 0;
                    }
                    /* Hide all steps by default: */
                    
                    .tab {
                        display: none;
                    }
                    
                    .vego-overlay {
                        position: fixed;
                        display: none;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: rgba(0, 0, 0, 0.5);
                        z-index: 1500;
                    }
                    
                    .vego-animate-left {
                        position: relative;
                        animation: animatetop 0.4s
                    }
                    
                    @keyframes animatetop {
                        from {
                            top: -300px;
                            opacity: 0
                        }
                        to {
                            top: 0;
                            opacity: 1
                        }
                    }
                    
                    #myBtn {
                        display: none;
                        position: fixed;
                        bottom: 20px;
                        right: 30px;
                        z-index: 99;
                        font-size: 11px;
                        border: none;
                        outline: none;
                        background-color: #fd8b01;
                        cursor: pointer;
                        padding: 15px;
                        border-radius: 4px;
                        z-index: 1000;
                    }
                    
                    #myBtn img {
                        height: 1.1rem;
                    }
                    
                    #myBtn:hover {
                        background-color: #fd8b01;
                        opacity: 0.8;
                    }
                    /* sidebar */
                    
                    .vego-sidebar {
                        width: 200px;
                        background-color: #fff;
                        position: fixed!important;
                        z-index: 1;
                        overflow: auto;
                        bottom: 0;
                        z-index: 2000 !important;
                    }
                    
                    .vego-bar-block {
                        width: 90%;
                        text-align: left;
                        padding: 8px 16px;
                        width: 100%;
                        display: block;
                        padding: 8px 16px;
                        text-align: left;
                        border: none;
                        white-space: normal;
                        float: none;
                        outline: 0;
                    }
                    
                    #mySidebar {
                        position: fixed;
                        right: 5%;
                        z-index: 1000;
                        padding: 20px;
                        overflow-x: hidden;
                        overflow-y: auto;
                        padding-right: 0;
                        padding-left: 0;
                        width: 90%;
                        padding: 0;
                        top: 1rem;
                        border-radius: 10px;
                        height: 24.7rem;
                    }
                    
                    .defaultcard {
                        background-color: white;
                        width: 98%;
                        margin-left: 1%;
                        margin-top: 8px;
                        margin-bottom: 8px;
                        border-radius: 3px;
                        box-shadow: 0 2px 10px rgba(0, 0, 0, .105882);
                        padding-bottom: 1rem;
                    }
                    /* Extra small devices (phones, 0px to 550px) */
                    
                    @media only screen and (max-width: 550px) {
                        .navbar-brand img {
                            height: 2.4rem;
                            width: auto;
                            margin: 0px 0px 0px 0px;
                        }
                        .togglerimg {
                            height: 1.6rem;
                            border: none;
                        }
                        /* sidebar */
                        .vego-sidebar {
                            height: 35%;
                        }
                        .vego-bar-block {
                            min-width: 90%;
                        }
                        .userprofile {
                            height: 1rem;
                        }
                        .sidebarlink {
                            display: flex;
                            width: 100%;
                            padding: 0.7rem;
                            border-bottom: 1px solid lightgray;
                            padding-top: 1rem;
                            padding-bottom: 1rem;
                        }
                        .sblinkicon img {
                            height: 1.3rem;
                        }
                        .sblinknav img {
                            height: 0.5rem;
                        }
                        .sblinkicon {
                            width: 10%;
                        }
                        .sblinktxt {
                            width: 80%;
                            padding-left: 0.5rem;
                        }
                        .sblinktxt p {
                            font-size: 14px;
                            margin-top: 3px;
                            margin-bottom: 0;
                            color: black;
                        }
                        .sblinktxt p:hover {
                            font-weight: 550;
                            color: #fd8b01;
                        }
                        .sidebarlink:hover .sblinknav img {
                            transform: rotate(90deg);
                            transition: 0s;
                        }
                        .cutsidebar img {
                            height: 0.8rem;
                            float: right;
                            margin: 20px;
                        }
                        .heading {
                            padding: 14px 12px 12px 12px;
                        }
                        .heading h5 {
                            font-size: 16px;
                            font-weight: 600;
                        }
                        .headingunderline {
                            width: 10%;
                            text-align: left;
                            margin: 0;
                            background-color: #fd8b01;
                            height: 2px;
                        }
                        header {
                            background: white;
                            box-shadow: 0 2px 10px rgba(0, 0, 0, .105882);
                            background-color: rgb(43, 43, 43);
                            position: sticky;
                            top: 0;
                            z-index: 1000;
                        }
                        .carousel {
                            z-index: 800;
                        }
                        /* main site content */
                        .mainhome {
                            background-color: rgb(43, 43, 43);
                            margin: 0px;
                            margin-left: 0px;
                            margin-top: 0px;
                            margin-bottom: 0px;
                            border-radius: 0px;
                            width: 100%;
                            padding: 1rem;
                        }
                        .maintxt {
                            width: 100%;
                            text-align: center;
                        }
                        .maintxt h2 {
                            color: rgb(167, 167, 167);
                            font-weight: 650;
                            font-size: 2rem;
                            margin-bottom: 3rem;
                            padding-top: 1rem;
                        }
                        .maintxt h4 {
                            color: white;
                            font-size: 1.2rem;
                            text-transform: uppercase;
                        }
                        .mainbtn {
                            width: 100%;
                            text-align: center;
                            margin-top: 2rem;
                        }
                        .mainbtn button {
                            background-color: #fd8b01;
                            color: white;
                            font-size: 14px;
                        }
                        .imges1 {
                            display: flex;
                            flex-wrap: wrap;
                            width: 100%;
                            justify-content: center;
                            padding: 1px;
                        }
                        .img-item {
                            width: 31%;
                            margin: 0.8%;
                        }
                        .img-item img {
                            width: 100%;
                            height: 4rem;
                            border-radius: 5px;
                        }
                        .contact-cont {
                            width: 80%;
                            margin-left: 10%;
                            border: 1px solid rgb(247, 247, 247);
                            text-align: center;
                            box-shadow: 1px 1px 2px rgb(240, 240, 240);
                            border-radius: 5px;
                            margin-top: 3rem;
                            background: rgb(255, 255, 255);
                        }
                        .profile-pic {
                            margin-top: -3.2rem;
                            margin-bottom: 1rem;
                        }
                        .profile-pic img {
                            height: 7rem;
                            width: 7rem;
                            border-radius: 50%;
                            border: 6px solid white;
                        }
                        .contact-cont p {
                            font-size: 14px;
                            color: rgb(51, 51, 51);
                        }
                        .info1 p {
                            font-weight: 600;
                        }
                        .info2 {
                            display: flex;
                            justify-content: center;
                        }
                        .info2 img {
                            height: 0.8rem;
                            margin-top: 5px;
                            margin-right: 5px;
                        }
                        .contactbtn button {
                            background-color: #fd8b01;
                            color: white;
                            font-size: 14px;
                            width: 100%;
                        }
                        /* The expanding image container */
                        .container {
                            position: relative;
                            display: none;
                        }
                        .modal-content {
                            background-color: rgb(0, 0, 0);
                        }
                        .modal-header {
                            border-bottom: none;
                        }
                        .close {
                            color: white;
                        }
                        #imgtext {
                            color: white;
                            text-align: center;
                            font-size: 14px;
                            margin-top: 0.5rem;
                        }
                        #imgtext1 {
                            color: white;
                            text-align: center;
                            font-size: 14px;
                            margin-top: 0.5rem;
                        }
                        .map {
                            margin-top: 1rem;
                        }
                        .carousel-item img {
                            height: 15rem;
                        }
                        .carousel-caption p {
                            color: white;
                            font-size: 12px;
                            font-weight: 600;
                        }
                        .carousel-control-prev {
                            background-color: rgb(51, 51, 51);
                            margin-top: 30rem;
                            height: 2rem;
                            width: 2rem;
                            z-index: 900;
                        }
                        .carousel-control-next {
                            background-color: rgb(51, 51, 51);
                            margin-top: 30rem;
                            height: 2rem;
                            width: 2rem;
                            z-index: 900;
                        }
                        .seemore p {
                            font-size: 12px;
                            margin-bottom: 0px;
                            text-align: end;
                            margin-right: 15px;
                            margin-top: 10px;
                            text-decoration: underline rgb(104, 104, 104);
                        }
                        .placecard-c {
                            background-color: #fff;
                            padding: 0.7rem;
                            margin-bottom: 0.5rem;
                        }
                        .placecard {
                            display: flex;
                            padding-bottom: 0.7rem;
                        }
                        .placeimg img {
                            height: 6rem;
                            width: 10rem;
                            border-radius: 5px;
                        }
                        .placeinfo p,
                        span,
                        a {
                            font-size: 14px;
                            margin-bottom: 0px;
                        }
                        .placeinfo {
                            margin-left: 10px;
                        }
                        .placename p {
                            font-weight: 600;
                            margin-bottom: 0.5rem;
                        }
                        .placetime span {
                            font-size: 12px;
                        }
                        .linkmap {
                            margin-top: 0.5rem;
                        }
                        .linkmap img {
                            height: 1.1rem;
                            margin-top: -6px;
                        }
                        .linkmap a {
                            font-size: 13px;
                            color: grey;
                        }
                        .linkmap a:hover {
                            text-decoration: underline grey;
                        }
                        .clicktomore {
                            text-align: center;
                            background-color: #fd8b01;
                        }
                        .clicktomore a {
                            font-size: 12px;
                            color: white;
                        }
                        .clicktomore a:hover {
                            text-decoration: underline white;
                        }
                        .clicktomore img {
                            height: 0.6rem;
                        }
                    }
                    /* Medium devices (landscape tablets, 550px to 850) */
                    
                    @media only screen and (min-width: 550px) and (max-width: 991px) {
                        .navbar-brand img {
                            height: 3rem;
                            width: auto;
                        }
                        .togglerimg {
                            height: 2rem;
                            border: none;
                        }
                        .navbar {
                            padding-top: 8px;
                        }
                        header {
                            background: white;
                            box-shadow: 0 2px 10px rgba(0, 0, 0, .105882);
                            position: sticky;
                            top: 0;
                        }
                        /* sidebar */
                        .vego-sidebar {
                            height: 32%;
                        }
                        .vego-bar-block {
                            min-width: 90%;
                        }
                        /* sidebar vego tablet */
                        .userprofile {
                            height: 1rem;
                            background: white;
                        }
                        .sidebarlink {
                            display: flex;
                            width: 100%;
                            padding: 0.7rem;
                            border-bottom: 1px solid lightgray;
                            padding-top: 1rem;
                            padding-bottom: 1rem;
                        }
                        .sblinkicon img {
                            height: 1.3rem;
                        }
                        .sblinknav img {
                            height: 0.5rem;
                        }
                        .sblinkicon {
                            width: 10%;
                        }
                        .sblinktxt {
                            width: 80%;
                            padding-left: 0.5rem;
                        }
                        .sblinktxt p {
                            font-size: 17px;
                            margin-top: 3px;
                            margin-bottom: 0;
                            color: black;
                        }
                        .sblinktxt p:hover {
                            font-weight: 550;
                            color: #f0233e;
                        }
                        .cutsidebar img {
                            height: 1rem;
                            float: right;
                            margin: 20px;
                            margin-right: 30px;
                        }
                    }
                    /* Large devices (Desktop, 850px and up) */
                    
                    @media only screen and (min-width: 992px) {
                        body {
                            background-color: white;
                        }
                        .navbar-brand {
                            margin: 0px 0px 0px 50px;
                        }
                        .navbar-brand img {
                            height: 3rem;
                            width: auto;
                        }
                        .navLinks {
                            margin: 0px 120px 0px 0px;
                        }
                        .navbar {
                            padding-top: 8px;
                        }
                        header {
                            background: white;
                            box-shadow: 0 2px 10px rgba(0, 0, 0, .105882);
                            position: sticky;
                            top: 0;
                        }
                        .nav-link {
                            color: rgb(43, 43, 43);
                            font-size: 15px;
                        }
                        .nav-link:hover {
                            color: lightgrey;
                        }
                    }